#
# This is a commented example of Debspawn's global configuration,
# placed in /etc/debspawn/global.toml
# You will usually not need to touch this file, and no configuration
# is necessary.
#

# Permit commands which poke deliberate holes into a container
# (e.g. by (bind)mounting devices through)
AllowUnsafePermissions=true
