name: Build & Test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ '3.9',
                          '3.11',
                          '3.12' ]

    name: Python ${{ matrix.python-version }}
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}

    - name: Update cache
      run: sudo apt-get update -qq

    - name: Install system prerequisites
      run: sudo apt-get install -yq
             xsltproc
             docbook-xsl
             docbook-xml
             zstd
             systemd
             systemd-container
             debootstrap

    - name: Upgrading pip
      run: python -m pip install --upgrade pip

    - name: Install dependencies
      run: python -m pip install
               setuptools
               tomlkit
               pkgconfig
               flake8
               pytest
               pylint
               mypy
               isort
               black

    - name: Build & Install
      run: |
        ./setup.py build
        ./setup.py install --root=/tmp
        rm -rf build/

    - name: Test
      run: |
        sudo $(which python3) -m pytest
        rm -rf build/

    - name: Lint (flake8)
      run: |
        python -m flake8 ./ --statistics
        python -m flake8 debspawn/dsrun --statistics

    - name: Lint (pylint)
      run: |
        python -m pylint -f colorized ./debspawn
        python -m pylint -f colorized ./debspawn/dsrun
        python -m pylint -f colorized ./tests ./data
        python -m pylint -f colorized setup.py install-sysdata.py

    - name: Lint (mypy)
      run: |
        python -m mypy --install-types --non-interactive .
        python -m mypy ./debspawn/dsrun

    - name: Lint (isort)
      run: isort --diff .

    - name: Lint (black)
      run: black --diff .
